body{
    color:#fff;
    background:#777;
}
.error_msg{
    color:yellow;
    font-style:italic;
    font-weight:bold;
}

.wraper{
    width:400px;
    /* border:1px solid red ; */
    margin:0 auto;
    padding:15em;
    text-align:center;
    
}

a{
    color:#ccc;
}

input[type="text"]{
    width:100%;
    border:none;
    padding:1rem 0.5rem;
    border-radius:7px;
}
